.list {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding-left: 20px;
}

.listItem {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
}

.icon {
    width: 20px;
    height: 20px;
}

.listItem a:hover,
.listItem a:focus {
    color: rgb(100, 10, 20, 20);
    filter: drop-shadow(5px 5px 5px rgb(100, 10, 20, 80));
}